body {
  background-color: #f4f1fe;
}

h1,
p {
  text-align: center;
}

.croissant-photo {
  width: 400px;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  padding: 15px 20px;
}
